@import url('https://fonts.googleapis.com/css?family=Lato');

form{
    width:600px;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 1em;
    margin: 0 auto;
    padding: 1em;
}

body{
    font-family: 'Lato', sans-serif;
}

h1{
    text-align: center;
}

fieldset{
    border: 1px solid #999;
    border-radius: 1em;
    margin-top: 15px;
    padding-left: 0px;
}

legend{
    font-size: 1.2em;
    font-weight: bolder;
    padding-left: 15px;
    padding-right: 15px;
}

div{
    margin: 1em 0;
}

label{
    width: 175px;
    text-align: right;
    display: inline-block;
}

input, textarea{
    width: 300px;
    border: 1px solid #999;
}

textarea{
    vertical-align: top;
    height: 15em;
}

input[type="radio"]{
    width:auto;
}

ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

input[type="submit"]{
    background: white;
    color: green;
    border: 1px solid grey;
    font-size: 1.2em;
    margin: auto;
    width: 100px;
}

input[type="submit"]:hover{
    background: green;
    color: white;
}

label[for="response"]{
    vertical-align: top;
}

form>div:last-child {
    text-align: center;
}